@import '/src/scss/variables';

@import '/src/scss/mixins.scss';

@import '/src/scss/media-query.scss';

@import '/src/scss/typography';

@import '/src/scss/common.scss';






.page-title{
  padding-top: 100px;
	margin-top: 110px;
  padding-bottom: 100px;
  // padding: 10px;
  background-color: #a15c5c15;
}



.sotial {
	a {
		margin: 5px;

	}
}

.btn-main-2 {
	background: #ffffff;
	color: rgb(0, 0, 0);
	border-color: #ffffff;
}

.btn-main-f:hover {
	background: #006aff;
	color: #fff;
	border-color: #006aff;
}

.btn-main-m:hover {
	background: #4586e1;
	color: #fff;
	border-color: #4586e1;
}

.btn-main-w:hover {
	background: #00ff51;
	color: #fff;
	border-color: #00ff51;
}

.divider {
	height: 3px;
	width: 50px;
	background: #e00627;
}


//cta


.cta {
  position: relative;
    overflow: hidden;
	// background: url("../images/bg/bg-4.jpg")no-repeat 50% 50%;
	// background-size: cover;
  background-color: #f0f0f0;
  // height: 70%;
  margin-bottom: 35%;
	// min-height: 550px;
  color: #fff;




	&:before {
		position: absolute;
		content: "";
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		background: rgba(34, 58, 102, .95);
	}
}

.mb-30 {
	margin-bottom: 30px;
}

.text-color-primary {
	color: $primary-color;
}

.cta-section {
	margin-bottom: -80px;
}

//  CTA -2
//
.cta-2 {
	// background: url("../images/bg/cta-bg.png") no-repeat;
	background-position: center center;
}


.cta-page {
	// background: url("../images/bg/banner.jpg")no-repeat;
	background-size: cover;
	position: relative;
}


.counter-stat{
  background-color: #94172a;

}




